<h3 class="top-heading">Departments list</h3>
<div [hidden]="successMsg === ''" class="alert alert-success" role="alert">
  {{successMsg}}
</div>
<div [hidden]="errMsg === ''" class="alert alert-danger" role="alert">
    {{errMsg}}
  </div>
<div class="row">
	<div class="col-auto mr-auto"></div>
	<div class="col-auto">
		<input type="text" class="form-control" [(ngModel)]="filter" name="filterDepartment" id="filterDepartment" placeholder="Search here...">
	</div>
</div>
<div class="table-responsive employee-forms">
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th scope="col" (click)="sort('departmentId')">Department ID
            <i class="fa" *ngIf="key =='departmentId'" [ngClass]="{'fa-sort-asc':reverse,'fa-sort-desc':!reverse}"></i>
          </th>
	      <th scope="col" (click)="sort('departmentName')">Name
            <i class="fa" *ngIf="key =='departmentName'" [ngClass]="{'fa-sort-asc':reverse,'fa-sort-desc':!reverse}"></i>
          </th>
	      <th scope="col" (click)="sort('departmentDesc')">Description
            <i class="fa" *ngIf="key =='departmentDesc'" [ngClass]="{'fa-sort-asc':reverse,'fa-sort-desc':!reverse}"></i>
          </th>
          <th scope="col" (click)="sort('createdOn')">Created At
            <i class="fa" *ngIf="key =='createdOn'" [ngClass]="{'fa-sort-asc':reverse,'fa-sort-desc':!reverse}"></i>
          </th>
          <th scope="col">Actions</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr *ngFor="let dept of departments | orderBy: key: reverse | filter: filter | paginate: {itemsPerPage: 5, currentPage: page}">
	      <td>{{dept.departmentId}}</td>
	      <td>{{dept.departmentName}}</td>
	      <td>{{dept.departmentDesc}}</td>
	      <td>{{dept.createdOn | date: 'medium'}}</td>
	      <td>
	      	<button type="button" class="btn btn-outline-primary action-buttons" (click)="openModal(dept)"><i class="fa fa-edit"></i></button>
	      	<button type="button" class="btn btn-outline-danger action-buttons right-action-button" (click)="openConfirmationModal(dept)"><i class="fa fa-trash-o"></i></button>
	      </td>
	    </tr>
	  </tbody>
	</table>
	<pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>