<h3 class="top-heading">Add New Employee</h3>
<div [hidden]="successMsg === ''" class="alert alert-success" role="alert">
  {{successMsg}}
</div>
<div [hidden]="errMsg === ''" class="alert alert-danger" role="alert">
  {{errMsg}}
</div>
<form class="employee-forms">
	<ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
	  <li class="nav-item">
	    <a class="nav-link" [ngClass]="{'active': activeTabs === 'personal'}" data-toggle="tab" href="javascript:void(0)" role="tab" aria-controls="personal" aria-selected="true" (click)="changeCurrentTab('personal')">Personal</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link disabled" [ngClass]="{'active': activeTabs === 'qualification'}" data-toggle="tab" href="javascript:void(0)" role="tab" aria-controls="qualification" aria-selected="false" (click)="changeCurrentTab('qualification')">Qualifications</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link disabled" [ngClass]="{'active': activeTabs === 'skills'}" data-toggle="tab" href="javascript:void(0)" role="tab" aria-controls="skills" aria-selected="false" (click)="changeCurrentTab('skills')">Skills</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link disabled" [ngClass]="{'active': activeTabs === 'projects'}" data-toggle="tab" href="javascript:void(0)" role="tab" aria-controls="projects" aria-selected="false" (click)="changeCurrentTab('projects')">Projects</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link disabled" [ngClass]="{'active': activeTabs === 'image'}" data-toggle="tab" href="javascript:void(0)" role="tab" aria-controls="image" aria-selected="false" (click)="changeCurrentTab('image')">Image</a>
	  </li>
	</ul>
	<div class="tab-content" id="myTabContent">
	  <div class="tab-pane fade" [ngClass]="{'show active': activeTabs === 'personal'}" id="personal" role="tabpanel" aria-labelledby="home-tab">Personal</div>
	  <div class="tab-pane fade" [ngClass]="{'show active': activeTabs === 'qualification'}" id="qualification" role="tabpanel" aria-labelledby="profile-tab">Qualification</div>
	  <div class="tab-pane fade" [ngClass]="{'show active': activeTabs === 'skills'}" id="skills" role="tabpanel" aria-labelledby="contact-tab">Skills</div>
	  <div class="tab-pane fade" [ngClass]="{'show active': activeTabs === 'projects'}" id="projects" role="tabpanel" aria-labelledby="contact-tab">Projects</div>
	  <div class="tab-pane fade" [ngClass]="{'show active': activeTabs === 'image'}" id="image" role="tabpanel" aria-labelledby="contact-tab">Image</div>
	</div>
</form>