<h3 class="top-heading">Add New Employee</h3>
<div [hidden]="successMsg === ''" class="alert alert-success" role="alert">
  {{successMsg}}
</div>
<div [hidden]="errMsg === ''" class="alert alert-danger" role="alert">
  {{errMsg}}
</div>
<form class="employee-forms" [formGroup]="employeeFormGroup">
	<ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
	  <li class="nav-item">
	    <a class="nav-link" [ngClass]="{'active': activeTabs === 'personal'}" data-toggle="tab" href="javascript:void(0)" role="tab" aria-controls="personal" aria-selected="true" (click)="changeCurrentTab('personal')">Personal</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" [ngClass]="{'active': activeTabs === 'qualification'}" data-toggle="tab" href="javascript:void(0)" role="tab" aria-controls="qualification" aria-selected="false" (click)="changeCurrentTab('qualification')">Qualifications</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" [ngClass]="{'active': activeTabs === 'skills'}" data-toggle="tab" href="javascript:void(0)" role="tab" aria-controls="skills" aria-selected="false" (click)="changeCurrentTab('skills')">Skills</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" [ngClass]="{'active': activeTabs === 'projects'}" data-toggle="tab" href="javascript:void(0)" role="tab" aria-controls="projects" aria-selected="false" (click)="changeCurrentTab('projects')">Projects</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" [ngClass]="{'active': activeTabs === 'image'}" data-toggle="tab" href="javascript:void(0)" role="tab" aria-controls="image" aria-selected="false" (click)="changeCurrentTab('image')">Image</a>
	  </li>
	</ul>
	<div class="tab-content" id="myTabContent">
	  <div class="tab-pane fade" [ngClass]="{'show active': activeTabs === 'personal'}" id="personal" role="tabpanel" aria-labelledby="home-tab">
	  	<div class="panel-section">
	  		<h4>Employee personal information</h4>
	  		<div class="row">
	  			<div class="col">
	  				<div class="form-group row">
					    <label for="empId" class="col-sm-4 col-form-label">Employee ID</label>
					    <div class="col-sm-8">
					      <input type="text" class="form-control" formControlName="empId" placeholder="Employee ID">
					    </div>
					</div>
					<div class="form-group row">
					    <label for="empDesignation" class="col-sm-4 col-form-label">Designation</label>
					    <div class="col-sm-8">
					      <input type="text" class="form-control" formControlName="empDesignation" placeholder="Designation">
					    </div>
					</div>
					<div class="form-group row">
					    <label for="empEmail" class="col-sm-4 col-form-label">Email</label>
					    <div class="col-sm-8">
					      <input type="text" class="form-control" formControlName="empEmail" placeholder="Email">
					    </div>
					</div>
					<div class="form-group row">
					    <label for="empDepartment" class="col-sm-4 col-form-label">Department</label>
					    <div class="col-sm-8">
					      <select class="form-control" formControlName="empDepartment">
					      	<option value="">Choose department</option>
					      </select>
					    </div>
					</div>
					<div class="form-group row">
					    <label for="empSalaryRange" class="col-sm-4 col-form-label">Salary range (In Rs.)</label>
					    <div class="col-sm-8">
					      <input type="text" class="form-control" placeholder="Salary range" disabled>
					    </div>
					</div>
					<div class="form-group row">
					    <label for="empGender" class="col-sm-4 col-form-label">Gender</label>
					    <div class="col-sm-8">
					      <div class="custom-control custom-radio custom-control-inline">
						    <input type="radio" name="empGender" class="custom-control-input" id="male" formControlName="empGender">
						    <label class="custom-control-label" for="male">Male</label>
						  </div>
						  <div class="custom-control custom-radio custom-control-inline">
						    <input type="radio" name="empGender" class="custom-control-input" id="female" formControlName="empGender">
						    <label class="custom-control-label" for="female">Female</label>
						  </div>
					    </div>
					</div>
	  			</div>
	  			<div class="col">
	  				<div class="form-group row">
					    <label for="empName" class="col-sm-4 col-form-label">Employee name</label>
					    <div class="col-sm-8">
					      <input type="text" class="form-control" placeholder="Employee name" formControlName="empName">
					    </div>
					</div>
					<div class="form-group row">
					    <label for="empJoiningDate" class="col-sm-4 col-form-label">Joining date</label>
					    <div class="col-sm-8">
					      <input type="text" class="form-control" placeholder="Joining date" readonly="" formControlName="empJoiningDate">
					    </div>
					</div>
					<div class="form-group row">
					    <label for="empPhoneNo" class="col-sm-4 col-form-label">Contact no.</label>
					    <div class="col-sm-8">
					      <input type="text" class="form-control" placeholder="Contact no." formControlName="empPhoneNo">
					    </div>
					</div>
					<div class="form-group row">
					    <label for="empGrade" class="col-sm-4 col-form-label">Grade</label>
					    <div class="col-sm-8">
					      <select class="form-control" formControlName="empGrade">
					      	<option value="">Choose grade</option>
					      </select>
					    </div>
					</div>
					<div class="form-group row">
					    <label for="empSalary" class="col-sm-4 col-form-label">Salary (In Rs.)</label>
					    <div class="col-sm-8">
					      <input type="text" class="form-control" placeholder="Salary" formControlName="empSalary">
					    </div>
					</div>
					<div class="form-group row">
					    <label for="empBloodGroup" class="col-sm-4 col-form-label">Blood group</label>
					    <div class="col-sm-8">
					      <input type="text" class="form-control" placeholder="Blood group" formControlName="empBloodGroup">
					    </div>
					</div>
	  			</div>
	  			<div class="col-sm-12">
	  				<div class="form-group row">
					    <label for="empAddress" class="col-sm-2 col-form-label">Address</label>
					    <div class="col-sm-10">
					      <textarea class="form-control" placeholder="Address" rows="5" formControlName="empAddress"></textarea>
					    </div>
					</div>
					<div class="form-group row pad-top-10">
						<div class="col-auto mr-auto"></div>
				    	<div class="col-auto">
				      		<button type="reset" class="btn btn-outline-secondary">Cancel</button>
				      		<button type="submit" class="btn btn-outline-success mar-lef-10" [disabled]="!employeeFormGroup.valid">Save and continue</button>
				    	</div>
				  	</div>
	  			</div>
	  		</div>
	  	</div>
	  </div>
	  <div class="tab-pane fade" [ngClass]="{'show active': activeTabs === 'qualification'}" id="qualification" role="tabpanel" aria-labelledby="profile-tab">
	  	<div class="panel-section">
	  		<h4>Employee education details</h4>
		  	<table class="table table-striped tables" formArrayName="empQualifications">
			  <thead>
			    <tr>
			      <th scope="col">Education Level</th>
			      <th scope="col">College & University</th>
			      <th scope="col">Year Of Passing</th>
			      <th scope="col">Percentage</th>
			      <th scope="col">Action</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr *ngFor="let edu of empQualControls.controls; let i = index;" [formGroupName]="i">
			      <td>
			      	<input type="text" class="form-control" formControlName="qualification" placeholder="Education level" [ngClass] ="{'is-invalid':empQualControls.controls[i].controls.qualification.errors && !empQualControls.controls[i].controls.qualification.pristine}">
				      <div class="invalid-feedback" *ngIf="empQualControls.controls[i].controls.qualification.errors && (empQualControls.controls[i].controls.qualification.dirty || empQualControls.controls[i].controls.qualification.touched)">
				      	<div [hidden]="!empQualControls.controls[i].controls.qualification.errors.required">Education level is required</div>
				      	<div [hidden]="!empQualControls.controls[i].controls.qualification.errors.minlength">Must be at least 2 characters long</div>
				      	<div [hidden]="!empQualControls.controls[i].controls.qualification.errors.maxlength">Must be of maximum 50 characters long</div>
				      </div>
				  </td>
			      <td>
			      	<input type="text" class="form-control" formControlName="university" placeholder="College & University" [ngClass] ="{'is-invalid':empQualControls.controls[i].controls.university.errors && !empQualControls.controls[i].controls.university.pristine}">
				      <div class="invalid-feedback" *ngIf="empQualControls.controls[i].controls.university.errors && (empQualControls.controls[i].controls.university.dirty || empQualControls.controls[i].controls.university.touched)">
				      	<div [hidden]="!empQualControls.controls[i].controls.university.errors.required">College & University is required</div>
				      	<div [hidden]="!empQualControls.controls[i].controls.university.errors.minlength">Must be at least 2 characters long</div>
				      	<div [hidden]="!empQualControls.controls[i].controls.university.errors.maxlength">Must be of maximum 50 characters long</div>
				      </div>
				  </td>
			      <td>
			      	<select class="form-control" formControlName="yearOfPassing" [ngClass] ="{'is-invalid':empQualControls.controls[i].controls.yearOfPassing.errors && !empQualControls.controls[i].controls.yearOfPassing.pristine}">
				      	<option value="">Choose year</option>
				      	<option value="dasf">dasfds</option>
				      </select>
				      <div class="invalid-feedback" *ngIf="empQualControls.controls[i].controls.yearOfPassing.errors && (empQualControls.controls[i].controls.yearOfPassing.dirty || empQualControls.controls[i].controls.yearOfPassing.touched)">
				      	<div [hidden]="!empQualControls.controls[i].controls.yearOfPassing.errors.required">Education level is required</div>
				      </div>
				  </td>
			      <td>
			      	<input type="text" class="form-control" formControlName="percentage" placeholder="Percentage" [ngClass] ="{'is-invalid':empQualControls.controls[i].controls.percentage.errors && !empQualControls.controls[i].controls.percentage.pristine}">
				      <div class="invalid-feedback" *ngIf="empQualControls.controls[i].controls.percentage.errors && (empQualControls.controls[i].controls.percentage.dirty || empQualControls.controls[i].controls.percentage.touched)">
				      	<div [hidden]="!empQualControls.controls[i].controls.percentage.errors.required">Percentage is required</div>
				      	<div [hidden]="!empQualControls.controls[i].controls.percentage.errors.minlength">Must be at least 1 characters long</div>
				      	<div [hidden]="!empQualControls.controls[i].controls.percentage.errors.maxlength">Must be of maximum 3 characters long</div>
				      	<div [hidden]="!empQualControls.controls[i].controls.percentage.errors.pattern">Should be numbers only</div>
				      </div>
				  </td>
			      <td>
			      	<button type="button" class="btn btn-outline-primary action-buttons" (click)="addMoreQualification()" [disabled]="!isQualificationFormValid()"><i class="fa fa-plus"></i></button>
			      	<button [hidden]="i === 0" type="button" class="btn btn-outline-danger action-buttons right-action-button" (click)="removeQualificationIndex(i)"><i class="fa fa-minus"></i></button>
			      </td>
			    </tr>
			  </tbody>
			</table>
			<div class="form-group row pad-top-10">
				<div class="col-auto mr-auto"></div>
		    	<div class="col-auto">
		      		<button type="reset" class="btn btn-outline-secondary">Cancel</button>
		      		<button type="submit" class="btn btn-outline-success mar-lef-10" [disabled]="!isQualificationFormValid()">Save and continue</button>
		    	</div>
		  	</div>
	  	</div>
	  </div>
	  <div class="tab-pane fade" [ngClass]="{'show active': activeTabs === 'skills'}" id="skills" role="tabpanel" aria-labelledby="contact-tab">
	  	<div class="panel-section">
	  		<h4>Employee skills details</h4>
		  	<table class="table table-striped tables" formArrayName="empSkills">
			  <thead>
			    <tr>
			      <th scope="col">Skill</th>
			      <th scope="col">Total Experience (in months)</th>
			      <th scope="col">Competency Level</th>
			      <th scope="col">Action</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr *ngFor="let edu of empSkillsControls.controls; let i = index;" [formGroupName]="i">
			      <td>
			      	<input type="text" class="form-control" placeholder="Skill" formControlName="skill" [ngClass] ="{'is-invalid':empSkillsControls.controls[i].controls.skill.errors && !empSkillsControls.controls[i].controls.skill.pristine}">
				      <div class="invalid-feedback" *ngIf="empSkillsControls.controls[i].controls.skill.errors && (empSkillsControls.controls[i].controls.skill.dirty || empSkillsControls.controls[i].controls.skill.touched)">
				      	<div [hidden]="!empSkillsControls.controls[i].controls.skill.errors.required">Skill is required</div>
				      	<div [hidden]="!empSkillsControls.controls[i].controls.skill.errors.minlength">Must be at least 2 characters long</div>
				      	<div [hidden]="!empSkillsControls.controls[i].controls.skill.errors.maxlength">Must be of maximum 50 characters long</div>
				      </div>
				  </td>
			      <td>
			      	<input type="text" class="form-control" placeholder="Year of experience" formControlName="totalExperience" [ngClass] ="{'is-invalid':empSkillsControls.controls[i].controls.totalExperience.errors && !empSkillsControls.controls[i].controls.totalExperience.pristine}">
				      <div class="invalid-feedback" *ngIf="empSkillsControls.controls[i].controls.totalExperience.errors && (empSkillsControls.controls[i].controls.totalExperience.dirty || empSkillsControls.controls[i].controls.totalExperience.touched)">
				      	<div [hidden]="!empSkillsControls.controls[i].controls.totalExperience.errors.required">Total experience is required</div>
				      	<div [hidden]="!empSkillsControls.controls[i].controls.totalExperience.errors.minlength">Must be at least 1 characters long</div>
				      	<div [hidden]="!empSkillsControls.controls[i].controls.totalExperience.errors.maxlength">Must be of maximum 3 characters long</div>
				      	<div [hidden]="!empSkillsControls.controls[i].controls.totalExperience.errors.pattern">Should be numbers only</div>
				      </div>
				  </td>
			      <td>
			      	<select class="form-control" formControlName="competencyLevel" [ngClass] ="{'is-invalid':empSkillsControls.controls[i].controls.competencyLevel.errors && !empSkillsControls.controls[i].controls.competencyLevel.pristine}">
				      	<option value="">Choose level</option>
				      	<option value="Begineer">Begineer</option>
				      	<option value="Intermediate">Intermediate</option>
				      	<option value="Expert">Expert</option>
				      </select>
				      <div class="invalid-feedback" *ngIf="empSkillsControls.controls[i].controls.competencyLevel.errors && (empSkillsControls.controls[i].controls.competencyLevel.dirty || empSkillsControls.controls[i].controls.competencyLevel.touched)">
				      	<div [hidden]="!empSkillsControls.controls[i].controls.competencyLevel.errors.required">Competency level is required</div>
				      </div>
				  </td>
			      <td>
			      	<button type="button" class="btn btn-outline-primary action-buttons" (click)="addMoreSkill()" [disabled]="!isSkillFormValid()"><i class="fa fa-plus"></i></button>
			      	<button [hidden]="i === 0" type="button" class="btn btn-outline-danger action-buttons right-action-button" (click)="removeSkillIndex(i)"><i class="fa fa-minus"></i></button>
			      </td>
			    </tr>
			  </tbody>
			</table>
			<div class="form-group row pad-top-10">
				<div class="col-auto mr-auto"></div>
		    	<div class="col-auto">
		      		<button type="reset" class="btn btn-outline-secondary">Cancel</button>
		      		<button type="submit" class="btn btn-outline-success mar-lef-10" [disabled]="!isSkillFormValid()">Save and continue</button>
		    	</div>
		  	</div>
	  	</div>
	  </div>
	  <div class="tab-pane fade" [ngClass]="{'show active': activeTabs === 'projects'}" id="projects" role="tabpanel" aria-labelledby="contact-tab">
	  	<div class="panel-section">
	  		<h4>Employee project details</h4>
		  	<table class="table table-striped tables" formArrayName="empProjects">
			  <thead>
			    <tr>
			      <th scope="col">Project</th>
			      <th scope="col">Joined At</th>
			      <th scope="col">Left At</th>
			      <th scope="col">Action</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr *ngFor="let edu of empProjectsControls.controls; let i = index;" [formGroupName]="i">
			      <td>
			      	<input type="text" class="form-control" placeholder="Project" formControlName="project" [ngClass] ="{'is-invalid':empProjectsControls.controls[i].controls.project.errors && !empProjectsControls.controls[i].controls.project.pristine}">
				      <div class="invalid-feedback" *ngIf="empProjectsControls.controls[i].controls.project.errors && (empProjectsControls.controls[i].controls.project.dirty || empProjectsControls.controls[i].controls.project.touched)">
				      	<div [hidden]="!empProjectsControls.controls[i].controls.project.errors.required">Project is required</div>
				      	<div [hidden]="!empProjectsControls.controls[i].controls.project.errors.minlength">Must be at least 2 characters long</div>
				      	<div [hidden]="!validRange">Must be of maximum 50 characters long</div>
				      </div>
				  </td>
			      <td>
			      	<input type="text" class="form-control" placeholder="Joined At" formControlName="joinedAt" [ngClass] ="{'is-invalid':empProjectsControls.controls[i].controls.joinedAt.errors && !empProjectsControls.controls[i].controls.joinedAt.pristine}" ngbDatepicker (click)="datePickerJoined.toggle()" #datePickerJoined="ngbDatepicker">
				      <div class="invalid-feedback" *ngIf="empProjectsControls.controls[i].controls.joinedAt.errors && (empProjectsControls.controls[i].controls.joinedAt.dirty || empProjectsControls.controls[i].controls.joinedAt.touched)">
				      	<div [hidden]="!empProjectsControls.controls[i].controls.joinedAt.errors.required">Joined at is required</div>
				      </div>
				      <div class="invalid-feedback">
				      	<div *ngIf="validRange">Left at date should be greater than joined at date</div>
				      </div>
				  </td>
			      <td>
			      	<input type="text" class="form-control" placeholder="Left At" formControlName="leftAt" [ngClass] ="{'is-invalid':empProjectsControls.controls[i].controls.leftAt.errors && !empProjectsControls.controls[i].controls.leftAt.pristine}" ngbDatepicker (click)="datePickerLeft.toggle()" #datePickerLeft="ngbDatepicker">
				      <div class="invalid-feedback" *ngIf="empProjectsControls.controls[i].controls.leftAt.errors && (empProjectsControls.controls[i].controls.leftAt.dirty || empProjectsControls.controls[i].controls.leftAt.touched)">
				      	<div [hidden]="!empProjectsControls.controls[i].controls.leftAt.errors.required">Left at is required</div>
				      </div>
				      <div class="invalid-feedback">
				      	<div *ngIf="validRange">Left at date should be greater than joined at date</div>
				      </div>
				  </td>
			      <td>
			      	<button type="button" class="btn btn-outline-primary action-buttons" (click)="addMoreProject(empProjectsControls.controls[i].controls)" [disabled]="!isProjectFormValid()"><i class="fa fa-plus"></i></button>
			      	<button [hidden]="i === 0" type="button" class="btn btn-outline-danger action-buttons right-action-button" (click)="removeProjectIndex(i)"><i class="fa fa-minus"></i></button>
			      </td>
			    </tr>
			  </tbody>
			</table>
			<div class="form-group row pad-top-10">
				<div class="col-auto mr-auto"></div>
		    	<div class="col-auto">
		      		<button type="reset" class="btn btn-outline-secondary">Cancel</button>
		      		<button type="submit" class="btn btn-outline-success mar-lef-10" [disabled]="!isProjectFormValid()">Save and continue</button>
		    	</div>
		  	</div>
	  	</div>
	  </div>
	  <div class="tab-pane fade" [ngClass]="{'show active': activeTabs === 'image'}" id="image" role="tabpanel" aria-labelledby="contact-tab">
	  	<div class="panel-section">
	  		<h4>Upload employee image</h4>
	  		<div class="input-group">
			  <div class="custom-file">
			    <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
			    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
			  </div>
			</div>
			<div class="form-group row pad-top-10">
				<div class="col-auto mr-auto"></div>
		    	<div class="col-auto">
		      		<button type="reset" class="btn btn-outline-secondary">Cancel</button>
		      		<button type="submit" class="btn btn-outline-success mar-lef-10" [disabled]="!employeeFormGroup.valid">Save and continue</button>
		    	</div>
		  	</div>
	  	</div>
	  </div>
	</div>
</form>