<div class="wrapper">

    <!-- Sidebar -->
    <nav id="sidebar" [ngClass] = "{'active': isSideBarCollapsed}">
        <div class="sidebar-header">
            <h3>Employee Management</h3>
        </div>
        <ul class="list-unstyled components">
          <li [ngClass]="{'active': menu.isActive}" *ngFor="let menu of sideMenuLinks">
            <ng-container [ngTemplateOutlet]="menu.children.length > 0 ? menu_submenu_link : menu_link" [ngTemplateOutletContext]="{menu:menu}"></ng-container>
            <ul *ngIf="menu.children.length > 0" class="collapse list-unstyled" [ngbCollapse] = "!menu.isCollapsed">
                <li *ngFor="let submenu of menu.children">
                    <a [routerLink]="submenu.url">{{submenu.submenu}}</a>
                </li>
            </ul>
          </li>
        </ul>
    </nav>

    <!-- Page Content -->
    <div id="content">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

            <button type="button" class="btn btn-info white-bg" data-toggle="collapse" (click)="isSideBarCollapsed = !isSideBarCollapsed" aria-controls="navbarSupportedContent" [attr.aria-expanded]="isSideBarCollapsed" aria-label="Toggle navigation" title="Collapse sidebar">
              <span class="navbar-toggler-icon leftmenutrigger"></span>
            </button>
            <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="isCollapsed = !isCollapsed" aria-controls="navbarSupportedContent" [attr.aria-expanded]="isCollapsed" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse" id="navbarSupportedContent" [ngbCollapse] = "!isCollapsed">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item dropdown" ngbDropdown placement="bottom-right">
                    <a class="nav-link dropdown-toggle" id="userDetailsDropDown" ngbDropdownToggle>Rishabh Chitranshi</a>
                    <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="userDetailsDropDown">
                      <a class="dropdown-item" href="#">User profile</a>
                      <a class="dropdown-item" href="#">Change password</a>
                      <a class="dropdown-item" href="#">Logout</a>
                    </div>
                  </li>
                </ul>
            </div>
        </div>
    </nav>
    <router-outlet></router-outlet>
  </div>

</div> 

<ng-template #menu_submenu_link let-menu="menu">
  <a data-toggle="collapse" (click)="collapseSideMenu(menu)" [attr.aria-expanded]="menu.isCollapsed" class="dropdown-toggle"> 
    <i class="fa fa-fw fa-{{menu.icon}}"></i>
    <span class="nav-link-text">{{menu.menu}}</span>
  </a>
</ng-template>
<ng-template #menu_link let-menu="menu">
  <a class="nav-link" [routerLink]="menu.url" (click)="collapseSideMenu(menu)">  
    <i class="fa fa-fw fa-{{menu.icon}}"></i>
    <span class="nav-link-text">{{menu.menu}}</span>
  </a>
</ng-template>
<ng4-loading-spinner [timeout]="50000"> </ng4-loading-spinner>

