<h3 class="top-heading">Add New Grade</h3>
<form class="employee-forms">
	<div class="form-group row">
	    <label for="departmentID" class="col-sm-2 col-form-label">Grade ID</label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" name="gradeID" id="gradeID" placeholder="Grade ID" disabled="">
	    </div>
	</div>
	<div class="form-group row">
	    <label for="gradeName" class="col-sm-2 col-form-label">Name</label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" name="gradeName" id="gradeName" placeholder="Grade name">
	    </div>
	</div>
	<div class="form-group row">
	    <label for="startSalary" class="col-sm-2 col-form-label">Salary range</label>
	    <div class="col-sm-5">
	      <input type="text" class="form-control" name="startSalary" id="startSalary" placeholder="Start salary">
	    </div>
	    <div class="col-sm-5">
	      <input type="text" class="form-control" name="endSalary" id="endSalary" placeholder="End salary">
	    </div>
	</div>
	<div class="form-group row">
	    <label for="gradeDesc" class="col-sm-2 col-form-label">Description</label>
	    <div class="col-sm-10">
	      <textarea rows="5" class="form-control" name="gradeDesc" id="gradeDesc" placeholder="Grade description"></textarea>
	    </div>
	</div>
	<div class="form-group row pad-top-10">
		<div class="col-auto mr-auto"></div>
    	<div class="col-auto">
      		<button type="reset" class="btn btn-outline-secondary">Cancel</button>
      		<button type="submit" class="btn btn-outline-success mar-lef-10">Submit</button>
    	</div>
  	</div>
</form>